footer{
    border: 2px solid white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: lightblue;
    padding: 10px;
    font-size: 20px;
    text-align: center;
       
}