header{
    background-image: url(/photos/header.jpg);
    background-size: cover;
    height:100vh;
    
    h1{
        text-align: right;
        color: white;
        font-family: cursive ;
    }
}
