nav{
    ul{
        display: flex;
        li{
            list-style: none;
            border: 2px solid white;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            background-color: lightblue;
            padding: 10px;
            margin-right: 5px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}
